   <div class="card card-container" ng-controller="LoginController">
       <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
       <p id="profile-name" class="profile-name-card"></p>
       <div ng-show="mensagemSucesso" class="alert alert-success" role="alert">{{mensagemSucesso}}</div>
       <div ng-show="mensagemErro" class="alert alert-danger" role="alert">{{mensagemErro}}</div>
       <form class="form-signin" ng-submit="login()">
           <span id="reauth-email" class="reauth-email"></span>
           <input type="email" id="inputEmail" ng-model="email" class="form-control" placeholder="Email" required autofocus>
           <input type="password" id="inputPassword" ng-model="senha" class="form-control" placeholder="Senha" required>
           <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Entrar</button>
       </form><!-- /form -->
       <a ui-sref="cadastro" class="forgot-password">
           Não cadastrado?
       </a>
   </div>